main {
  min-height: 80vh;
}

.ik:hover {
  cursor: pointer;
}

.fh {
  color: red;
}

.fn {
  color: orange;
}

.fl {
  color: blue;
}
.fs {
  color: green;
}

.hide {
  visibility: hidden;
}

.hideAdmin {
  display: none;
}

span {
  display: inline-block;

  line-height: normal;
}

.trwidth {
  width: 0%;
}

hr.solid {
  border-top: 1px solid #999;
}

.profileImage {
  width: 15%;
  border-radius: 50%;
}

.ex1 {
  margin-left: 30px;
}

.title-deposit-page {
  font-size: 15px;
  font-weight: 500;
  border-bottom: 1px solid #e5e6e7;
}

.form-outline {
  border-radius: 5px;
  border: 1px solid #e5e6e7;
  padding-bottom: 5px;
}

.footer {
  border-top: 1px solid #e5e6e7;
}

.jumboheight {
  padding-top: 25px;
  padding-bottom: 25px;
}

.vertalign {
  vertical-align: middle;
}

.groupposition {
  position: relative;
}

.tooltipposition {
  position: relative;
}

.descriptionposition {
  left: 5px;
}

.buttonwidth {
  width: 250px;
}

.navbarbtn {
  width: 85px;
}

.toastwidth {
  width: 200px;
}

.carousel h4 {
  color: black;
}

.carousel p {
  color: black;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: block;
  height: 250px;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.wrapper {
  max-width: 200px;
  width: 100%;
}

.carousel .carousel-indicators li {
  background-color: #fff;
  background-color: rgba(70, 70, 70, 0.25);
}

.carousel .carousel-indicators .active {
  background-color: #444;
}

.carousel-control-next,
  .carousel-control-prev /*, .carousel-indicators */ {
  filter: invert(100%);
}

@media screen and (min-width: 601px) {
  h2.homefont {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
  }
}

@media screen and (max-width: 600px) {
  h2.homefont {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
  }
}

@media screen and (min-width: 601px) {
  .pagetitlefont {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    border-bottom: 2px solid #e5e6e7;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  .pagetitlefont {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    border-bottom: 2px solid #e5e6e7;
  }
}

@media screen and (max-width: 1225px) and (min-width: 1095px) {
  .display-createdAt {
    display: none;
  }
}

@media screen and (max-width: 1095px) and (min-width: 835px) {
  .display-createdAt {
    display: none;
  }
  .display-resolvedBy {
    display: none;
  }
}

@media screen and (max-width: 835px) and (min-width: 595px) {
  .display-createdAt {
    display: none;
  }
  .display-resolvedBy {
    display: none;
  }
  .display-priority {
    display: none;
  }
}

@media screen and (max-width: 595px) and (min-width: 415px) {
  .display-createdAt {
    display: none;
  }
  .display-resolvedBy {
    display: none;
  }
  .display-priority {
    display: none;
  }
  .display-assignedTo {
    display: none;
  }
}

@media screen and (max-width: 415px) {
  .display-project {
    display: none;
  }
  .display-createdAt {
    display: none;
  }
  .display-resolvedBy {
    display: none;
  }
  .display-priority {
    display: none;
  }
  .display-assignedTo {
    display: none;
  }
  .display-manager {
    display: none;
  }
  .display-admin {
    display: none;
  }
}
