.navbar {
  min-width: 360;
  z-index: 999;
}

navbar-logo {
  color: rgb(3, 2, 2);
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
}

.taglineloggedin {
  font-size: 12px;
  font-weight: 500;
}

.taglineloggedout {
  font-size: 12px;
  font-weight: 500;
}

.navbar-menu-btn {
  margin-left: 1px;

  width: 40px;
}

.hamburger-btn {
  position: relative;
  left: -10%;
  text-align: center;
}

/* new content */

.menu-bars {
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #e7e2e2;
  opacity: 0.9;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 8px 0px 8px 0px; */
  /* list-style: none; */
  height: 60px;
  text-align: center;
}

.nav-text a {
  text-decoration: none;
  color: #080707;
  font-size: 18px;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid #00050a;
  /* border-radius: 4px; */
}

.nav-text-item {
  justify-content: center;
  align-items: center;

  /* padding: 8px 0px 8px 0px; */
  /* list-style: none; */
}

.nav-text a:hover {
  background-color: #b1bac5;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #e7e2e2;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* span {
  margin-left: 16px;
} */

@media screen and (max-width: 451px) {
  .taglineloggedout {
    display: none;
    left: 0;
    top: 0;
    margin-left: 0;
  }
}

@media screen and (min-width: 451px) {
  .nav-brand-smscreen {
    display: none;
    left: 0;
    top: 0;
    margin-left: 0;
  }
}

@media screen and (max-width: 450px) {
  .nav-brand-lgscreen {
    display: none;
    left: 0;
    top: 0;
    margin-left: 0;
  }
}

@media screen and (max-width: 590px) {
  .taglineloggedin {
    display: none;
    left: 0;
    top: 0;
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .navbarbtn {
    display: none;
  }

  .btNavbar {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav-menu.active {
    background-color: #e7e2e2;
    opacity: 0.9;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
  }
}
